.breadcrumbs {
  color: #999;
  border: 0px;
  background: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0px 2px;
  padding: 7px 14px;
  margin: 0 0 18px;
  list-style: none;
}

