<ul class="nav">
  <li class="first"><%= link_to t("menu.topics"), '#' %></li>
  <li><%= link_to t("menu.wiki"), '#' %></li>
  <li><%= link_to t("menu.sites"), '#' %></li>
  <li class="last"><%= link_to t("menu.users"), '#' %></li>
</ul>
